/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  font-family: 'Lato', 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}


section.form-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  .bg-blue,
  .bg-green,
  .bg-orange {
    width: 100%;
  }

  .bg-blue {
    height: 85%;
    background-color: #2c348c;
  }

  .bg-orange {
    height: 2%;
    background-color: #f4c265;
  }

  .bg-green {
    height: 13%;
    background-color: #2c732c;
  }
}

.form-content {
  position: absolute;
  background-color: #ffffff;
  padding: 4rem;
  top: 50%;
  left: 50%;
  border-radius: 0.5rem;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form-modal {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.form-control {
  margin-bottom: 1.5rem;
}
